<ion-header>
  <ion-toolbar color="light">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">
          <ng-container *ngIf="url || menu">
            <div class="center-vertically">
              <p class="ion-text-start ion-margin-start">
                <ion-buttons>
                  <ion-back-button *ngIf="url" icon="arrow-back-circle-outline" [text]="text" defaultHref="{{url}}"></ion-back-button>
                  <ion-menu-button *ngIf="menu" autoHide class="menu-button" color="primary"></ion-menu-button>
                </ion-buttons>
              </p>
            </div>
          </ng-container>
        </ion-col>
        <ion-col size="4">
          <div class="center">
            <p class="ion-text-center">
              <img class="logo" src="../../../../assets/img/logo_110Anos.png" alt="">
            </p>
          </div>
        </ion-col>
        <ion-col size="4">
          <ng-container>
            <div class="center-vertically">
              <p class="ion-text-end">
                <ion-button fill="clear">
                  <ion-badge color="primary" mode="md">2</ion-badge>
                  <ion-icon color="dark" slot="icon-only" name="notifications-outline"></ion-icon>
                </ion-button>
              </p>
            </div>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
