img.logo {
  max-height: 5vh;
}
app-ezoom-svg {
  fill: var(--ion-color-primary);
  height: 10%;
}

ion-button {
  ion-badge {
    position: absolute;
		top: -0.1rem;
    right: -.2em;
		opacity: 0.9;
    & ~ ion-icon {
			margin-right: .5rem;
		}
  }
}
