<app-header url="home"></app-header>

<ion-content>
  <app-page-title title="Reserva de Espaços"
  subtitle="Abaixo estão listados os espaços aos quais o usuário tem acesso para reservar."></app-page-title>

  <app-location-select></app-location-select>
  <app-dependent-select></app-dependent-select>

  <ion-grid class="container ion-margin-top" fixed>
    <ion-row>
      <ng-container *ngIf="reserveLocationDependentClass.avaliableData">
        <ng-container *ngIf="reserveLocationDependentClass.avaliableData.length > 0">
          <ion-col *ngFor="let item of reserveLocationDependentClass.avaliableData" size="6">
              <ion-card>
                <ion-card-header>
                  <img [src]="item.image" alt="">
                  <ion-card-subtitle class="ion-text-center subtitle margin">{{item.title}}</ion-card-subtitle>
                  <ion-card-title class="ion-text-center title margin">
                    <ion-label color="primary" *ngIf="item.status === 'available'">Disponível para reserva</ion-label>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-button class="margin" (click)="info(item)" expand="block" fill="outline">
                    MAIS INFORMAÇÕES
                  </ion-button>
                  <ion-button class="margin" (click)="reserve(item)" expand="block">
                    RESERVAR
                  </ion-button>
                </ion-card-content>
              </ion-card>
          </ion-col>
        </ng-container>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
