.title {
  font-family: 'latobold';
  font-size: 3.4vh;
  padding: 2vh 0 1.5vh 0;
  color: var(--ion-color-primary);
}

.subtitle
{
  font-size: 1.6vh;
}

.complement {
  font-family: 'latobold';
  color: var(--ion-color-primary);
}
